Source: openc2e
Section: games
Priority: optional
Maintainer: Bryan Donlan <bdonlan@gmail.com>
Build-Depends: debhelper (>= 5.0.0), perl, libyaml-perl, libsdl1.2debian, libsdl1.2-dev, libboost-filesystem-dev, libsdl-net1.2-dev, bison, zlib1g-dev, libboost-iostreams-dev, libboost-thread-dev, libboost-serialization-dev, libboost-program-options-dev, libsdl-gfx1.2-dev, libqt4-dev, libboost-regex-dev, cmake, libopenal-dev, libalut-dev, re2c, libsdl-ttf2.0-dev, libxext-dev
Standards-Version: 3.8.0.0
Homepage: http://www.openc2e.org/
Vcs-Git: git://github.com/ccdevnet/openc2e.git
Vcs-Browser: http://github.com/ccdevnet/openc2e/

Package: openc2e
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: ttf-bitstream-vera
Description: Creatures-style game engine
 openc2e is a cross-platform open-source game engine designed to be compatible
 with the various game engines of the Creatures artificial-life game series.

Package: openc2e-dbg
Architecture: any
Priority: extra
Recommends: gdb
Depends: openc2e (= ${binary:Version})
Description: Creatures-style game engine (debug symbols)
 openc2e is a cross-platform open-source game engine designed to be compatible
 with the various game engines of the Creatures artificial-life game series.
 .
 This package contains debugging symbols for programs in the openc2e package.
