Source: openc2e
Section: games
Priority: optional
Maintainer: Bryan Donlan <bdonlan@gmail.com>
Build-Depends: debhelper (>= 5.0.0), perl, libyaml-perl, libsdl1.2debian, libsdl1.2-dev, libboost-filesystem-dev, libsdl-net1.2-dev, libsdl-mixer1.2-dev, flex (>= 2.5.31), bison, zlib1g-dev, libboost-iostreams-dev, libboost-thread-dev, libboost-serialization-dev, libboost-program-options-dev, libsdl-gfx1.2-dev, libqt4-dev, libboost-regex-dev, cmake, libopenal-dev, libalut-dev
Standards-Version: 3.6.2

Package: openc2e
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: openc2e-tools
Description: Free creatures engine
 An open-source clone of the game engine used in the Creatures series of
 artificial life games.

Package: openc2e-dbg
Architecture: any
Priority: extra
Recommends: openc2e, openc2e-tools, gdb
Description: Free creatures engine (debug symbols)
 An open-source clone of the game engine used in the Creatures series of
 artificial life games.
 .
 This package contains debugging symbols for programs in the openc2e and
 openc2e-tools packages.
