#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1



CMAKE_FLAGS += -DCMAKE_EXE_LINKER_FLAGS:STRING=-Wl,--as-needed

## Since debian does not support plain 386 anymore, try to get a bit of an edge here
ifeq (i386,$(DEB_BUILD_ARCH))
	CMAKE_FLAGS += -DCMAKE_CXX_FLAGS:STRING='-g -march=i486 -O2'
	CMAKE_FLAGS += -DCMAKE_C_FLAGS:STRING='-g -march=i486 -O2'
endif

CMAKE_FLAGS += -DCMAKE_CXX_FLAGS_RELEASE:STRING='-O2 -NDEBUG'
CMAKE_FLAGS += -DCMAKE_C_FLAGS_RELEASE:STRING='-O2 -NDEBUG'

CMAKE_FLAGS += -DCMAKE_CXX_FLAGS_RELWITHDEBINFO:STRING='-O2 -ggdb3'
CMAKE_FLAGS += -DCMAKE_C_FLAGS_RELWITHDEBINFO:STRING='-O2 -ggdb3'

CMAKE_FLAGS += -DCMAKE_CXX_FLAGS_DEBUG:STRING='-O2 -ggdb3'
CMAKE_FLAGS += -DCMAKE_C_FLAGS_DEBUG:STRING='-O2 -ggdb3'

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	BUILD_TYPE = Debug
else
	BUILD_TYPE = RelWithDebInfo
endif
CMAKE_FLAGS += -DCMAKE_BUILD_TYPE:STRING=$(BUILD_TYPE)

configure: configure-stamp
configure-stamp:
	dh_testdir
	mkdir $(CURDIR)/build
	cd $(CURDIR)/build; cmake $(CMAKE_FLAGS) ..

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	cd $(CURDIR)/build; make

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	rm -rf build

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	install -d debian/tmp/usr/games
	install build/openc2e debian/tmp/usr/games


binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install --fail-missing --sourcedir=debian/tmp
	dh_installman build/openc2e.6
	dh_link
	dh_strip
	dh_compress -X.css -X.html
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
